<?xml version="1.0" encoding="utf-8"?>
<configuration>
   	
	<configSections>
		<section name="YourAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="appSettings_Agricultural_products_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_Currency_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_Digital_currency_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_Indexes_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_Oil_and_gas_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_Metals_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_Stock_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_ETFs_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_API_Libertex" type="System.Configuration.NameValueSectionHandler"/>
		<section name="appSettings_Investing" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
	</startup>

	<appSettings_Agricultural_products_Libertex>	
		<add key="Sugar" value="https://app.libertex.org/products/agriculture/SUGAR/"/>
		<add key="Coffee" value="https://app.libertex.org/products/agriculture/COFFEE/"/>
		<add key="Soybean" value="https://app.libertex.org/products/agriculture/SOYBEAN/"/>
		<add key="Wheat" value="https://app.libertex.org/products/agriculture/WHEAT/"/>
		<add key="Corn" value="https://app.libertex.org/products/agriculture/CORN/"/>
		<add key="Cocoa" value="https://app.libertex.org/products/agriculture/COCOA/"/>
	</appSettings_Agricultural_products_Libertex>

	<appSettings_Currency_Libertex>
		<add key="USD/SEK" value="https://app.libertex.org/products/currency/USDSEK/"/>
		<add key="USD/NOK" value="https://app.libertex.org/products/currency/USDNOK/"/>
		<add key="EUR/SEK" value="https://app.libertex.org/products/currency/EURSEK/"/>
		<add key="USD/JPY" value="https://app.libertex.org/products/currency/USDJPY/"/>
		<add key="USD/CHF" value="https://app.libertex.org/products/currency/USDCHF/"/>
		<add key="EUR/GBP" value="https://app.libertex.org/products/currency/EURGBP/"/>		
		<add key="SGD/JPY" value="https://app.libertex.org/products/currency/SGDJPY/"/>
		<add key="CAD/JPY" value="https://app.libertex.org/products/currency/CADJPY/"/>
		<add key="USD/ZAR" value="https://app.libertex.org/products/currency/USDZAR/"/>
		<add key="EUR/NOK" value="https://app.libertex.org/products/currency/EURNOK/"/>
		<add key="USD/CLP" value="https://app.libertex.org/products/currency/USDCLP/"/>		
		<add key="CAD/CHF" value="https://app.libertex.org/products/currency/CADCHF/"/>
		<add key="EUR/CHF" value="https://app.libertex.org/products/currency/EURCHF/"/>
		<add key="EUR/JPY" value="https://app.libertex.org/products/currency/EURJPY/"/>
		<add key="USD/DKK" value="https://app.libertex.org/products/currency/USDDKK/"/>
		<add key="NZD/JPY" value="https://app.libertex.org/products/currency/NZDJPY/"/>		
		<add key="NZD/CHF" value="https://app.libertex.org/products/currency/NZDCHF/"/>
		<add key="EUR/AUD" value="https://app.libertex.org/products/currency/EURAUD/"/>
		<add key="AUD/CHF" value="https://app.libertex.org/products/currency/AUDCHF/"/>
		<add key="AUD/JPY" value="https://app.libertex.org/products/currency/AUDJPY/"/>
		<add key="GBP/SEK" value="https://app.libertex.org/products/currency/GBPSEK/"/>
		<add key="EUR/NZD" value="https://app.libertex.org/products/currency/EURNZD/"/>
		<add key="USD/CAD" value="https://app.libertex.org/products/currency/USDCAD/"/>
		<add key="CHF/JPY" value="https://app.libertex.org/products/currency/CHFJPY/"/>
		<add key="USD/MXN" value="https://app.libertex.org/products/currency/USDMXN/"/>
		<add key="USD/SGD" value="https://app.libertex.org/products/currency/USDSGD/"/>
		<add key="AUD/NZD" value="https://app.libertex.org/products/currency/AUDNZD/"/>
		<add key="EUR/CAD" value="https://app.libertex.org/products/currency/EURCAD/"/>
		<add key="NOK/JPY" value="https://app.libertex.org/products/currency/NOKJPY/"/>
		<add key="EUR/USD" value="https://app.libertex.org/products/currency/EURUSD/"/>
		<add key="GBP/JPY" value="https://app.libertex.org/products/currency/GBPJPY/"/>
		<add key="EUR/SGD" value="https://app.libertex.org/products/currency/EURSGD/"/>		
		<add key="GBP/CHF" value="https://app.libertex.org/products/currency/GBPCHF/"/>
		<add key="NZD/CAD" value="https://app.libertex.org/products/currency/NZDCAD/"/>
		<add key="NZD/USD" value="https://app.libertex.org/products/currency/NZDUSD/"/>
		<add key="EUR/MXN" value="https://app.libertex.org/products/currency/EURMXN/"/>
		<add key="GBP/AUD" value="https://app.libertex.org/products/currency/GBPAUD/"/>		
		<add key="USD/CNH" value="https://app.libertex.org/products/currency/USDCNH/"/>
		<add key="AUD/CAD" value="https://app.libertex.org/products/currency/AUDCAD/"/>
		<add key="AUD/USD" value="https://app.libertex.org/products/currency/AUDUSD/"/>
		<add key="USD/RUB" value="https://app.libertex.org/products/currency/USDRUB/"/>
		<add key="GBP/NZD" value="https://app.libertex.org/products/currency/GBPNZD/"/>		
		<add key="CHF/SGD" value="https://app.libertex.org/products/currency/CHFSGD/"/>
		<add key="EUR/CNH" value="https://app.libertex.org/products/currency/EURCNH/"/>
		<add key="EUR/RUB" value="https://app.libertex.org/products/currency/EURRUB/"/>
		<add key="GBP/CAD" value="https://app.libertex.org/products/currency/GBPCAD/"/>
		<add key="GBP/USD" value="https://app.libertex.org/products/currency/GBPUSD/"/>
		<add key="USD/TRY" value="https://app.libertex.org/products/currency/USDTRY/"/>
		<add key="EUR/TRY" value="https://app.libertex.org/products/currency/EURTRY/"/>		
	</appSettings_Currency_Libertex>

	<appSettings_Digital_currency_Libertex>
		<add key="Bitcoin" value="https://app.libertex.org/products/crypto/Bitcoin/"/>
		<add key="Litecoin" value="https://app.libertex.org/products/crypto/Litecoin/"/>
		<add key="QTUM" value="https://app.libertex.org/products/crypto/QTMUSD/"/>
		<add key="Nem" value="https://app.libertex.org/products/crypto/XEMUSD/"/>
		<add key="Tron" value="https://app.libertex.org/products/crypto/TRXUSD/"/>
		<add key="Ethereum Classic" value="https://app.libertex.org/products/crypto/ETCUSD/"/>
		<add key="Bitcoin Gold" value="https://app.libertex.org/products/crypto/BTGUSD/"/>
		<add key="Monero" value="https://app.libertex.org/products/crypto/XMRUSD/"/>
		<add key="Bitcoin Cash" value="https://app.libertex.org/products/crypto/BCHUSD/"/>
		<add key="Dash" value="https://app.libertex.org/products/crypto/DSHUSD/"/>		
		<add key="Bitcoin/USD Futures" value="https://app.libertex.org/products/crypto/BTCUSDFut/"/>		
		<add key="OmiseGO" value="https://app.libertex.org/products/crypto/OMGUSD/"/>
		<add key="Stellar" value="https://app.libertex.org/products/crypto/XLMUSD/"/>
		<add key="Ripple" value="https://app.libertex.org/products/crypto/XRPUSD/"/>
		<add key="Cardano" value="https://app.libertex.org/products/crypto/ADAUSD/"/>
		<add key="EOS/Ethereum" value="https://app.libertex.org/products/crypto/EOSETH/"/>
		<add key="Litecoin/Ethereum" value="https://app.libertex.org/products/crypto/LTCETH/"/>
		<add key="Litecoin/Bitcoin" value="https://app.libertex.org/products/crypto/LTCBTC/"/>				
		<add key="IOTA" value="https://app.libertex.org/products/crypto/IOTUSD/"/>		
		<add key="NEO" value="https://app.libertex.org/products/crypto/NEOUSD/"/>
		<add key="Bitcoin/EUR" value="https://app.libertex.org/products/crypto/BTCEUR/"/>
		<add key="OmiseGO/Ethereum" value="https://app.libertex.org/products/crypto/OMGETH/"/>
		<add key="Zcash" value="https://app.libertex.org/products/crypto/ZECUSD/"/>
		<add key="Ethereum" value="https://app.libertex.org/products/crypto/ETHUSD/"/>
		<add key="Monero/Ethereum" value="https://app.libertex.org/products/crypto/XMRETH/"/>
		<add key="NEO/Bitcoin" value="https://app.libertex.org/products/crypto/NEOBTC/"/>
		<add key="Monero/Bitcoin" value="https://app.libertex.org/products/crypto/XMRBTC/"/>
		<add key="EthereumClassic/Ethereum" value="https://app.libertex.org/products/crypto/ETCETH/"/>
		<add key="QTUM/Ethereum" value="https://app.libertex.org/products/crypto/QTMETH/"/>
		<add key="NEO/Ethereum" value="https://app.libertex.org/products/crypto/NEOETH/"/>
		<add key="IOTA/Ethereum" value="https://app.libertex.org/products/crypto/IOTETH/"/>
		<add key="BitcoinCash/Bitcoin" value="https://app.libertex.org/products/crypto/BCHBTC/"/>
		<add key="Zcash/Ethereum" value="https://app.libertex.org/products/crypto/ZECETH/"/>
		<add key="Dash/Ethereum" value="https://app.libertex.org/products/crypto/DSHETH/"/>
		<add key="BitcoinGold/Bitcoin" value="https://app.libertex.org/products/crypto/BTGBTC/"/>
		<add key="BitcoinGold/Ethereum" value="https://app.libertex.org/products/crypto/BTGETH/"/>
		<add key="Ethereum/Bitcoin" value="https://app.libertex.org/products/crypto/ETHBTC/"/>
		<add key="Zcash/Bitcoin" value="https://app.libertex.org/products/crypto/ZECBTC/"/>
		<add key="Dash/Bitcoin" value="https://app.libertex.org/products/crypto/DSHBTC/"/>
	</appSettings_Digital_currency_Libertex>

	<appSettings_Indexes_Libertex>
		<add key="NASDAQ 100" value="https://app.libertex.org/products/indexes/NQ/"/>
		<add key="CAC 40" value="https://app.libertex.org/products/indexes/FCE/"/>
		<add key="S and P 500" value="https://app.libertex.org/products/indexes/ES/"/>
		<add key="Dow Jones" value="https://app.libertex.org/products/indexes/YM/"/>
		<add key="Italy 40" value="https://app.libertex.org/products/indexes/MIB/"/>		
		<add key="RUSSELL 2000" value="https://app.libertex.org/products/indexes/TF/"/>
		<add key="China A50" value="https://app.libertex.org/products/indexes/XU/"/>
		<add key="EURO STOXX 50" value="https://app.libertex.org/products/indexes/FESX/"/>
		<add key="AEX" value="https://app.libertex.org/products/indexes/FTI/"/>
		<add key="FTSE 100" value="https://app.libertex.org/products/indexes/Z/"/>		
		<add key="Spain 35" value="https://app.libertex.org/products/indexes/IBX/"/>
		<add key="Nikkei 225" value="https://app.libertex.org/products/indexes/NKD/"/>
		<add key="Russia50 Index" value="https://app.libertex.org/products/indexes/Russia50/"/>
		<add key="DAX" value="https://app.libertex.org/products/indexes/FDAX/"/>
		<add key="Hang Seng Index" value="https://app.libertex.org/products/indexes/HSI/"/>		
		<add key="Chile Index" value="https://app.libertex.org/products/indexes/CHILE/"/>
		<add key="Israel 35" value="https://app.libertex.org/products/indexes/TA35/"/>
		<add key="U.S. Dollar Index Future" value="https://app.libertex.org/products/indexes/USDX/"/>		
	</appSettings_Indexes_Libertex>

	<appSettings_Oil_and_gas_Libertex>
		<add key="WTI Crude Oil" value="https://app.libertex.org/products/energetics/WT/"/>
		<add key="Brent Crude Oil" value="https://app.libertex.org/products/energetics/BRN/"/>
		<add key="Light Sweet Crude Oil" value="https://app.libertex.org/products/energetics/CL/"/>
		<add key="Heating Oil" value="https://app.libertex.org/products/energetics/HO/"/>
		<add key="Henry Hub Natural Gas" value="https://app.libertex.org/products/energetics/NG/"/>		
	</appSettings_Oil_and_gas_Libertex>

	<appSettings_Metals_Libertex>
		<add key="Silver" value="https://app.libertex.org/products/metal/XAGUSD/"/>
		<add key="Palladium" value="https://app.libertex.org/products/metal/PA/"/>
		<add key="Gold" value="https://app.libertex.org/products/metal/XAUUSD/"/>
		<add key="Platinum" value="https://app.libertex.org/products/metal/PL/"/>
		<add key="Copper" value="https://app.libertex.org/products/metal/HG/"/>
	</appSettings_Metals_Libertex>

	<appSettings_Stock_Libertex>
		<add key="Aphria Inc." value="https://app.libertex.org/products/stock/APHA/"/>
		<add key="Tilray Inc." value="https://app.libertex.org/products/stock/TLRY/"/>
		<add key="Pinterest" value="https://app.libertex.org/products/stock/PINS/"/>
		<add key="Twitter" value="https://app.libertex.org/products/stock/TWTR/"/>
		<add key="Microsoft" value="https://app.libertex.org/products/stock/MSFT/"/>
		<add key="Spotify" value="https://app.libertex.org/products/stock/Spotify/"/>
		<add key="Aurora Cannabis Inc." value="https://app.libertex.org/products/stock/ACB/"/>
		<add key="MasterCard" value="https://app.libertex.org/products/stock/MA/"/>
		<add key="Facebook" value="https://app.libertex.org/products/stock/FB/"/>
		<add key="Electricite de France (EDF)" value="https://app.libertex.org/products/stock/EDF/"/>
		<add key="Apple" value="https://app.libertex.org/products/stock/AAPL/"/>
		<add key="Petrobras" value="https://app.libertex.org/products/stock/PBR/"/>
		<add key="Amazon.com" value="https://app.libertex.org/products/stock/AMZN/"/>
		<add key="Canopy Growth Corp" value="https://app.libertex.org/products/stock/WEED/"/>
		<add key="Juventus Football Club SPA" value="https://app.libertex.org/products/stock/JUVE/"/>
		<add key="Survey Monkey" value="https://app.libertex.org/products/stock/SVMK/"/>
		<add key="Google" value="https://app.libertex.org/products/stock/GOOGL/"/>
		<add key="Intel" value="https://app.libertex.org/products/stock/INTC/"/>
		<add key="Alibaba Group Holding" value="https://app.libertex.org/products/stock/BABA/"/>
		<add key="Adobe Systems" value="https://app.libertex.org/products/stock/ADBE/"/>
		<add key="Starbucks" value="https://app.libertex.org/products/stock/SBUX/"/>
		<add key="SAP SE" value="https://app.libertex.org/products/stock/SAP/"/>
		<add key="eBay" value="https://app.libertex.org/products/stock/EBAY/"/>
		<add key="Adidas AG" value="https://app.libertex.org/products/stock/ADS/"/>
		<add key="Salesforce.com" value="https://app.libertex.org/products/stock/CRM/"/>
		<add key="Visa" value="https://app.libertex.org/products/stock/V/"/>
		<add key="Cisco Systems" value="https://app.libertex.org/products/stock/CSCO/"/>
		<add key="Vodafone Group" value="https://app.libertex.org/products/stock/VOD/"/>
		<add key="Cronos Group Inc." value="https://app.libertex.org/products/stock/CRON/"/>
		<add key="nVidia" value="https://app.libertex.org/products/stock/NVDA/"/>
		<add key="Estée Lauder" value="https://app.libertex.org/products/stock/EL/"/>
		<add key="Netflix" value="https://app.libertex.org/products/stock/Netflix/"/>
		<add key="Baidu" value="https://app.libertex.org/products/stock/BIDU/"/>
		<add key="Ferrari" value="https://app.libertex.org/products/stock/RACE/"/>
		<add key="Nintendo (US)" value="https://app.libertex.org/products/stock/NINTENDO_US/"/>
		<add key="UnitedHealth Group" value="https://app.libertex.org/products/stock/UNH/"/>
		<add key="Lenovo Group" value="https://app.libertex.org/products/stock/LNVG/"/>
		<add key="Ralph Lauren" value="https://app.libertex.org/products/stock/RL/"/>
		<add key="Nintendo (JP)" value="https://app.libertex.org/products/stock/NINTENDO_JP/"/>
		<add key="Johnson and Johnson" value="https://app.libertex.org/products/stock/JNJ/"/>
		<add key="Philip Morris International" value="https://app.libertex.org/products/stock/PM/"/>
		<add key="Procter and Gamble" value="https://app.libertex.org/products/stock/PG/"/>
		<add key="ENEL SPA" value="https://app.libertex.org/products/stock/ENEL/"/>
		<add key="Dropbox" value="https://app.libertex.org/products/stock/Dropbox/"/>
		<add key="Snap" value="https://app.libertex.org/products/stock/SNAP/"/>
		<add key="Oracle" value="https://app.libertex.org/products/stock/ORCL/"/>
		<add key="Nordstrom" value="https://app.libertex.org/products/stock/JWN/"/>
		<add key="Sberbank" value="https://app.libertex.org/products/stock/Sberbank/"/>
		<add key="VINCI SA" value="https://app.libertex.org/products/stock/DG/"/>
		<add key="TOTAL SA" value="https://app.libertex.org/products/stock/FP/"/>
		<add key="IBM" value="https://app.libertex.org/products/stock/IBM/"/>
		<add key="McDonald's" value="https://app.libertex.org/products/stock/MCD/"/>
		<add key="Nacional de Electricidad" value="https://app.libertex.org/products/stock/EOC/"/>
		<add key="American Express" value="https://app.libertex.org/products/stock/AXP/"/>
		<add key="IndiTex SA" value="https://app.libertex.org/products/stock/ITX/"/>
		<add key="TripAdvisor" value="https://app.libertex.org/products/stock/TRIP/"/>
		<add key="Caterpillar" value="https://app.libertex.org/products/stock/CAT/"/>
		<add key="Harley-Davidson" value="https://app.libertex.org/products/stock/HOG/"/>
		<add key="Toyota Motor" value="https://app.libertex.org/products/stock/TM/"/>
		<add key="Boeing" value="https://app.libertex.org/products/stock/BA/"/>
		<add key="Walt Disney" value="https://app.libertex.org/products/stock/DIS/"/>
		<add key="Nike" value="https://app.libertex.org/products/stock/NKE/"/>
		<add key="PetroChina" value="https://app.libertex.org/products/stock/PTR/"/>
		<add key="Banco Santander Chile" value="https://app.libertex.org/products/stock/BSAC/"/>
		<add key="BASF SE" value="https://app.libertex.org/products/stock/BAS/"/>
		<add key="China Mobile" value="https://app.libertex.org/products/stock/CHL/"/>
		<add key="Tesla Motors" value="https://app.libertex.org/products/stock/TSLA/"/>
		<add key="Hewlett-Packard" value="https://app.libertex.org/products/stock/HPQ/"/>
		<add key="PVH" value="https://app.libertex.org/products/stock/PVH/"/>
		<add key="Vale" value="https://app.libertex.org/products/stock/VALE/"/>
		<add key="The Coca-Cola" value="https://app.libertex.org/products/stock/KO/"/>
		<add key="Celgene" value="https://app.libertex.org/products/stock/CELG/"/>
		<add key="General Electrics" value="https://app.libertex.org/products/stock/GE/"/>
		<add key="Pfizer" value="https://app.libertex.org/products/stock/PFE/"/>
		<add key="AT and T" value="https://app.libertex.org/products/stock/T/"/>
		<add key="The Travelers Companies" value="https://app.libertex.org/products/stock/TRV/"/>
		<add key="Siemens AG" value="https://app.libertex.org/products/stock/SIE/"/>
		<add key="Repsol SA" value="https://app.libertex.org/products/stock/REP/"/>
		<add key="ENI SPA" value="https://app.libertex.org/products/stock/ENI/"/>
		<add key="Exxon Mobil" value="https://app.libertex.org/products/stock/XOM/"/>
		<add key="Uber Technologies" value="https://app.libertex.org/products/stock/UBER/"/>
		<add key="Novatek" value="https://app.libertex.org/products/stock/Novatek/"/>
		<add key="Michael Kors Holdings" value="https://app.libertex.org/products/stock/KORS/"/>
		<add key="Mobile TeleSystems" value="https://app.libertex.org/products/stock/MTS/"/>
		<add key="Daimler AG" value="https://app.libertex.org/products/stock/DAI/"/>
		<add key="Sociedad Quimica y Minera de Chile" value="https://app.libertex.org/products/stock/SQM/"/>
		<add key="Volkswagen AG" value="https://app.libertex.org/products/stock/VOW/"/>
		<add key="VF" value="https://app.libertex.org/products/stock/VFC/"/>
		<add key="Norilsk Nickel" value="https://app.libertex.org/products/stock/Nornickel/"/>
		<add key="Yandex" value="https://app.libertex.org/products/stock/YNDX/"/>
		<add key="Home Depot" value="https://app.libertex.org/products/stock/HD/"/>
		<add key="Verizon Communications" value="https://app.libertex.org/products/stock/VZ/"/>
		<add key="Deutsche Bank AG" value="https://app.libertex.org/products/stock/DBK/"/>
		<add key="Ford Motor" value="https://app.libertex.org/products/stock/F/"/>
		<add key="Gazprom" value="https://app.libertex.org/products/stock/Gazprom/"/>
		<add key="Bayerische Motoren Werke AG" value="https://app.libertex.org/products/stock/BMW/"/>
		<add key="Aeroflot" value="https://app.libertex.org/products/stock/Aeroflot/"/>
		<add key="Goldman Sachs Group" value="https://app.libertex.org/products/stock/GS/"/>
		<add key="Wells Fargo and Co." value="https://app.libertex.org/products/stock/WFC/"/>
		<add key="Ethan Allen Interiors" value="https://app.libertex.org/products/stock/ETH/"/>
		<add key="Lukoil" value="https://app.libertex.org/products/stock/Lukoil/"/>
		<add key="Tiffany and Co" value="https://app.libertex.org/products/stock/TIF/"/>
		<add key="Williams-Sonoma" value="https://app.libertex.org/products/stock/WSM/"/>
		<add key="Tencent Holdings" value="https://app.libertex.org/products/stock/TCTZ/"/>
		<add key="Rosneft" value="https://app.libertex.org/products/stock/Rosneft/"/>
		<add key="Industrial and Commercial Bank of China" value="https://app.libertex.org/products/stock/VZ/"/>
		<add key="BAYER AG" value="https://app.libertex.org/products/stock/BAYN/"/>
		<add key="JPMorgan Chase and Co." value="https://app.libertex.org/products/stock/JPM/"/>
		<add key="Bank of America" value="https://app.libertex.org/products/stock/BAC/"/>
		<add key="LYFT Inc." value="https://app.libertex.org/products/stock/LYFT/"/>
	</appSettings_Stock_Libertex>

	<appSettings_ETFs_Libertex>
		<add key="Vanguard FTSE Europe ETF" value="https://app.libertex.org/products/etf/VGK/"/>
		<add key="iShares MSCI United Kingdom ETF" value="https://app.libertex.org/products/etf/EWU/"/>
		<add key="SPDR S and P 500 ETF Trust" value="https://app.libertex.org/products/etf/SPY/"/>
		<add key="iShares MSCI Germany ETF" value="https://app.libertex.org/products/etf/EWG/"/>
		<add key="iShares China Large-Cap ETF" value="https://app.libertex.org/products/etf/FXI/"/>
		<add key="iShares MSCI Brazil ETF" value="https://app.libertex.org/products/etf/EWZ/"/>
		<add key="iShares Latin America 40 ETF" value="https://app.libertex.org/products/etf/ILF/"/>
		<add key="iShares Core S and P Mid-Cap ETF" value="https://app.libertex.org/products/etf/IJH/"/>
		<add key="iShares MSCI Mexico ETF" value="https://app.libertex.org/products/etf/EWW/"/>
		<add key="iShares Core U.S. Aggregate Bond ETF" value="https://app.libertex.org/products/etf/AGG/"/>
	</appSettings_ETFs_Libertex>

	<appSettings_API_Libertex>
		<add key="API" value="https://app.libertex.org/gate-rest-org/Real/RestApi/Quotes/HistoryQuotes?symbol="/>		
	</appSettings_API_Libertex>
	
	<appSettings_Investing>
		<add key="Sugar" value="https://ru.investing.com/commodities/us-sugar-no11"/>
		<add key="Coffee" value="https://ru.investing.com/commodities/us-coffee-c"/>
		<add key="Soybean" value="https://ru.investing.com/commodities/us-soybeans"/>
		<add key="Wheat" value="https://ru.investing.com/commodities/us-wheat"/>
		<add key="Corn" value="https://ru.investing.com/commodities/us-corn"/>
		<add key="Cocoa" value="https://ru.investing.com/commodities/us-cocoa"/>
		<add key="USD/SEK" value="https://ru.investing.com/currencies/usd-sek"/>
		<add key="USD/NOK" value="https://ru.investing.com/currencies/usd-nok"/>
		<add key="EUR/SEK" value="https://ru.investing.com/currencies/eur-sek"/>
		<add key="USD/JPY" value="https://ru.investing.com/currencies/usd-jpy"/>
		<add key="USD/CHF" value="https://ru.investing.com/currencies/usd-chf"/>
		<add key="EUR/GBP" value="https://ru.investing.com/currencies/eur-gbp"/>
		<add key="SGD/JPY" value="https://ru.investing.com/currencies/sgd-jpy"/>
		<add key="CAD/JPY" value="https://ru.investing.com/currencies/cad-jpy"/>
		<add key="USD/ZAR" value="https://ru.investing.com/currencies/usd-zar"/>
		<add key="EUR/NOK" value="https://ru.investing.com/currencies/eur-nok"/>
		<add key="USD/CLP" value="https://ru.investing.com/currencies/usd-clp"/>
		<add key="CAD/CHF" value="https://ru.investing.com/currencies/cad-chf"/>
		<add key="EUR/CHF" value="https://ru.investing.com/currencies/eur-chf"/>	
		<add key="EUR/JPY" value="https://ru.investing.com/currencies/eur-jpy"/>
		<add key="USD/DKK" value="https://ru.investing.com/currencies/usd-dkk"/>
		<add key="NZD/JPY" value="https://ru.investing.com/currencies/nzd-jpy"/>
		<add key="NZD/CHF" value="https://ru.investing.com/currencies/nzd-chf"/>
		<add key="EUR/AUD" value="https://ru.investing.com/currencies/eur-aud"/>
		<add key="AUD/CHF" value="https://ru.investing.com/currencies/aud-chf"/>
		<add key="AUD/JPY" value="https://ru.investing.com/currencies/aud-jpy"/>
		<add key="GBP/SEK" value="https://ru.investing.com/currencies/gbp-sek"/>	
		<add key="EUR/NZD" value="https://ru.investing.com/currencies/eur-nzd"/>
		<add key="USD/CAD" value="https://ru.investing.com/currencies/usd-cad"/>
		<add key="CHF/JPY" value="https://ru.investing.com/currencies/chf-jpy"/>
		<add key="USD/MXN" value="https://ru.investing.com/currencies/usd-mxn"/>
		<add key="USD/SGD" value="https://ru.investing.com/currencies/usd-sgd"/>
		<add key="AUD/NZD" value="https://ru.investing.com/currencies/aud-nzd"/>
		<add key="EUR/CAD" value="https://ru.investing.com/currencies/eur-cad"/>		
		<add key="NOK/JPY" value="https://ru.investing.com/currencies/nok-jpy"/>
		<add key="EUR/USD" value="https://ru.investing.com/currencies/eur-usd"/>
		<add key="GBP/JPY" value="https://ru.investing.com/currencies/gbp-jpy"/>
		<add key="EUR/SGD" value="https://ru.investing.com/currencies/eur-sgd"/>
		<add key="GBP/CHF" value="https://ru.investing.com/currencies/gbp-chf"/>
		<add key="NZD/CAD" value="https://ru.investing.com/currencies/nzd-cad"/>
		<add key="NZD/USD" value="https://ru.investing.com/currencies/nzd-usd"/>
		<add key="EUR/MXN" value="https://ru.investing.com/currencies/eur-mxn"/>
		<add key="GBP/AUD" value="https://ru.investing.com/currencies/gbp-aud"/>
		<add key="USD/CNH" value="https://ru.investing.com/currencies/usd-cnh"/>
		<add key="AUD/CAD" value="https://ru.investing.com/currencies/aud-cad"/>
		<add key="AUD/USD" value="https://ru.investing.com/currencies/aud-usd"/>
		<add key="USD/RUB" value="https://ru.investing.com/currencies/usd-rub"/>
		<add key="GBP/NZD" value="https://ru.investing.com/currencies/gbp-nzd"/>	
		<add key="CHF/SGD" value="https://ru.investing.com/currencies/chf-sgd"/>
		<add key="EUR/CNH" value="https://ru.investing.com/currencies/eur-cnh"/>
		<add key="EUR/RUB" value="https://ru.investing.com/currencies/eur-rub"/>
		<add key="GBP/CAD" value="https://ru.investing.com/currencies/gbp-cad"/>
		<add key="GBP/USD" value="https://ru.investing.com/currencies/gbp-usd"/>
		<add key="USD/TRY" value="https://ru.investing.com/currencies/usd-try"/>
		<add key="EUR/TRY" value="https://ru.investing.com/currencies/eur-try"/>
		<add key="Bitcoin" value="https://ru.investing.com/crypto/bitcoin"/>
		<add key="Litecoin" value="https://ru.investing.com/crypto/litecoin"/>
		<add key="QTUM" value="https://ru.investing.com/crypto/qtum"/>
		<add key="Nem" value="https://ru.investing.com/crypto/nem"/>
		<add key="Tron" value="https://ru.investing.com/crypto/tron"/>
		<add key="Ethereum Classic" value="https://ru.investing.com/crypto/ethereum-classic"/>
		<add key="Bitcoin Gold" value="https://ru.investing.com/crypto/bitcoin-gold"/>	
		<add key="Monero" value="https://ru.investing.com/crypto/monero/xmr-usd"/>
		<add key="Bitcoin Cash" value="https://ru.investing.com/crypto/bitcoin-cash/"/>
		<add key="Dash" value="https://ru.investing.com/crypto/dash"/>
		<add key="OmiseGO" value="https://ru.investing.com/crypto/omisego"/>
		<add key="Stellar" value="https://ru.investing.com/crypto/stellar"/>
		<add key="Ripple" value="https://ru.investing.com/crypto/ripple"/>
		<add key="Cardano" value="https://ru.investing.com/crypto/cardano"/>
		<add key="EOS/Ethereum" value="https://ru.investing.com/crypto/eos/eos-eth"/>
		<add key="Litecoin/Ethereum" value="https://ru.investing.com/crypto/litecoin/ltc-eth"/>
		<add key="Litecoin/Bitcoin" value="https://ru.investing.com/crypto/litecoin/ltc-btc"/>		
		<add key="IOTA" value="https://ru.investing.com/crypto/iota"/>
		<add key="NEO" value="https://ru.investing.com/crypto/neo"/>
		<add key="Bitcoin/EUR" value="https://ru.investing.com/crypto/bitcoin/btc-eur"/>
		<add key="OmiseGO/Ethereum" value="https://ru.investing.com/crypto/omisego/omg-eth"/>
		<add key="Zcash" value="https://ru.investing.com/crypto/zcash"/>
		<add key="Ethereum" value="https://ru.investing.com/crypto/ethereum"/>
		<add key="Monero/Ethereum" value="https://ru.investing.com/crypto/monero/xmr-eth"/>
		<add key="NEO/Bitcoin" value="https://ru.investing.com/crypto/neo/neo-btc"/>
		<add key="Monero/Bitcoin" value="https://ru.investing.com/crypto/monero/xmr-btc"/>
		<add key="EthereumClassic/Ethereum" value="https://ru.investing.com/crypto/ethereum-classic/chart"/>
		<add key="QTUM/Ethereum" value="https://ru.investing.com/crypto/qtum/qtum-eth"/>
		<add key="NEO/Ethereum" value="https://ru.investing.com/crypto/neo/neo-eth"/>
		<add key="IOTA/Ethereum" value="https://ru.investing.com/crypto/iota/iota-eth"/>
		<add key="BitcoinCash/Bitcoin" value="https://tr.investing.com/crypto/bitcoin-cash/bch-btc"/>
		<add key="Zcash/Ethereum" value="https://ru.investing.com/crypto/ethereum/eth-zec"/>
		<add key="Dash/Ethereum" value="https://ru.investing.com/crypto/dash/dash-eth"/>
		<add key="BitcoinGold/Bitcoin" value="https://ru.investing.com/crypto/bitcoin-gold/btg-btc"/>
		<add key="BitcoinGold/Ethereum" value="https://ru.investing.com/crypto/bitcoin-gold/btg-eth"/>
		<add key="Ethereum/Bitcoin" value="https://ru.investing.com/crypto/ethereum/eth-btc"/>
		<add key="Zcash/Bitcoin" value="https://ru.investing.com/crypto/zcash/zec-btc"/>
		<add key="Dash/Bitcoin" value="https://ru.investing.com/crypto/dash/dash-btc"/>
		<add key="NASDAQ 100" value="https://ru.investing.com/indices/nq-100"/>
		<add key="CAC 40" value="https://ru.investing.com/indices/france-40"/>
		<add key="S and P 500" value="https://ru.investing.com/indices/us-spx-500"/>
		<add key="Dow Jones" value="https://ru.investing.com/indices/us-30"/>
		<add key="Italy 40" value="https://ru.investing.com/indices/investing.com-italy-40"/>
		<add key="RUSSELL 2000" value="https://ru.investing.com/indices/smallcap-2000"/>
		<add key="China A50" value="https://ru.investing.com/indices/ftse-china-a50"/>		
		<add key="EURO STOXX 50" value="https://ru.investing.com/indices/eu-stoxx50"/>
		<add key="AEX" value="https://ru.investing.com/indices/netherlands-25"/>
		<add key="FTSE 100" value="https://ru.investing.com/indices/uk-100"/>
		<add key="Spain 35" value="https://ru.investing.com/indices/spain-35-components"/>
		<add key="Nikkei 225" value="https://ru.investing.com/indices/japan-ni225"/>
		<add key="Russia50 Index" value="https://ru.investing.com/indices/investing.com-russia-50"/>
		<add key="DAX" value="https://ru.investing.com/indices/germany-30"/>
		<add key="Hang Seng Index" value="https://ru.investing.com/indices/hang-sen-40"/>
		<add key="Chile Index" value="https://www.investing.com/indices/msci-chile"/>
		<add key="Israel 35" value="https://ru.investing.com/indices/ta25"/>
		<add key="U.S. Dollar Index Future" value="https://ru.investing.com/quotes/us-dollar-index"/>
		<add key="WTI Crude Oil" value="https://ru.investing.com/commodities/crude-oil"/>
		<add key="Brent Crude Oil" value="https://ru.investing.com/commodities/brent-oil"/>
		<add key="Light Sweet Crude Oil" value="https://ru.investing.com/commodities/crude-oil"/>
		<add key="Heating Oil" value="https://ru.investing.com/commodities/heating-oil"/>
		<add key="Henry Hub Natural Gas" value="https://ru.investing.com/commodities/natural-gas"/>
		<add key="Silver" value="https://ru.investing.com/commodities/silver"/>
		<add key="Palladium" value="https://ru.investing.com/commodities/palladium"/>
		<add key="Gold" value="https://ru.investing.com/commodities/gold"/>
		<add key="Platinum" value="https://ru.investing.com/commodities/platinum"/>
		<add key="Copper" value="https://ru.investing.com/commodities/copper"/>
		<add key="Aphria Inc." value="https://ru.investing.com/equities/aphria-inc"/>
		<add key="Tilray Inc." value="https://ru.investing.com/equities/tilray-inc"/>
		<add key="Pinterest" value="https://ru.investing.com/equities/pinterest-inc"/>
		<add key="Twitter" value="https://ru.investing.com/equities/twitter-inc"/>
		<add key="Microsoft" value="https://ru.investing.com/equities/microsoft-corp"/>
		<add key="Spotify" value="https://ru.investing.com/equities/spotify-technology"/>
		<add key="Aurora Cannabis Inc." value="https://ru.investing.com/equities/aurora-cannabis"/>
		<add key="MasterCard" value="https://ru.investing.com/equities/mastercard-cl-a"/>
		<add key="Facebook" value="https://ru.investing.com/equities/facebook-inc"/>
		<add key="Electricite de France (EDF)" value="https://ru.investing.com/equities/edf"/>
		<add key="Apple" value="https://ru.investing.com/equities/apple-computer-inc"/>
		<add key="Petrobras" value="https://ru.investing.com/equities/petrobras-on"/>
		<add key="Amazon.com" value="https://ru.investing.com/equities/amazon-com-inc"/>
		<add key="Canopy Growth Corp" value="https://ru.investing.com/equities/tweed-marijuana-inc"/>
		<add key="Juventus Football Club SPA" value="https://ru.investing.com/equities/juventus-footbal-club-spa-chart"/>
		<add key="Survey Monkey" value="https://www.investing.com/equities/svmk"/>
		<add key="Google" value="https://ru.investing.com/equities/google-inc"/>
		<add key="Intel" value="https://ru.investing.com/equities/intel-corp"/>
		<add key="Alibaba Group Holding" value="https://ru.investing.com/equities/alibaba"/>
		<add key="Adobe Systems" value="https://ru.investing.com/equities/adobe-sys-inc"/>
		<add key="Starbucks" value="https://ru.investing.com/equities/starbucks-corp"/>
		<add key="SAP SE" value="https://ru.investing.com/equities/sap-ag"/>	
		<add key="eBay" value="https://ru.investing.com/equities/ebay-inc"/>
		<add key="Adidas AG" value="https://ru.investing.com/equities/adidas-salomon"/>
		<add key="Salesforce.com" value="https://ru.investing.com/equities/salesforce-com"/>
		<add key="Visa" value="https://ru.investing.com/equities/visa-inc"/>
		<add key="Cisco Systems" value="https://ru.investing.com/equities/cisco-sys-inc"/>		
		<add key="Vodafone Group" value="https://ru.investing.com/equities/vodafone"/>
		<add key="Cronos Group Inc." value="https://ru.investing.com/equities/cronos"/>
		<add key="nVidia" value="https://ru.investing.com/equities/nvidia-corp"/>
		<add key="Estée Lauder" value="https://ru.investing.com/equities/estee-lauder"/>
		<add key="Netflix" value="https://ru.investing.com/equities/netflix,-inc."/>	
		<add key="Baidu" value="https://ru.investing.com/equities/baidu.com"/>
		<add key="Ferrari" value="https://ru.investing.com/equities/ferrari-nv"/>
		<add key="Nintendo (US)" value="https://ru.investing.com/equities/nintendo-ltd"/>
		<add key="UnitedHealth Group" value="https://ru.investing.com/equities/united-health-group"/>
		<add key="Lenovo Group" value="https://ru.investing.com/equities/lenovo-group-ltd"/>		
		<add key="Ralph Lauren" value="https://ru.investing.com/equities/polo-ralph-laur"/>
		<add key="Nintendo (JP)" value="https://ru.investing.com/equities/nintendo-ltd"/>
		<add key="Johnson and Johnson" value="https://ru.investing.com/equities/johnson-johnson"/>
		<add key="Philip Morris International" value="https://ru.investing.com/equities/philip-morris-intl"/>
		<add key="Procter and Gamble" value="https://ru.investing.com/equities/procter-gamble"/>		
		<add key="ENEL SPA" value="https://ru.investing.com/equities/enel"/>
		<add key="Dropbox" value="https://ru.investing.com/equities/dropbox-inc"/>
		<add key="Snap" value="https://ru.investing.com/equities/snap-inc"/>
		<add key="Oracle" value="https://ru.investing.com/equities/oracle-corp"/>
		<add key="Nordstrom" value="https://ru.investing.com/equities/nordstrom-inc-chart"/>
		<add key="Sberbank" value="https://ru.investing.com/equities/sberbank_rts"/>		
		<add key="VINCI SA" value="https://ru.investing.com/equities/vinci"/>
		<add key="TOTAL SA" value="https://ru.investing.com/equities/total"/>
		<add key="IBM" value="https://ru.investing.com/equities/ibm"/>
		<add key="McDonald's" value="https://ru.investing.com/equities/mcdonalds"/>
		<add key="Nacional de Electricidad" value="https://ru.investing.com/equities/nacional-de-electricidad"/>		
		<add key="American Express" value="https://ru.investing.com/equities/american-express"/>
		<add key="IndiTex SA" value="https://ru.investing.com/equities/inditex"/>
		<add key="TripAdvisor" value="https://ru.investing.com/equities/inditex"/>
		<add key="Caterpillar" value="https://ru.investing.com/equities/caterpillar"/>
		<add key="Harley-Davidson" value="https://ru.investing.com/equities/harley-davidson"/>		
		<add key="Toyota Motor" value="https://ru.investing.com/equities/toyota"/>
		<add key="Boeing" value="https://ru.investing.com/equities/boeing-co"/>
		<add key="Walt Disney" value="https://ru.investing.com/equities/disney"/>
		<add key="Nike" value="https://ru.investing.com/equities/nike"/>
		<add key="PetroChina" value="https://ru.investing.com/equities/petrochina-co-ads-exch"/>	
		<add key="Banco Santander Chile" value="https://ru.investing.com/equities/banco-santander-chile-adr"/>
		<add key="BASF SE" value="https://ru.investing.com/equities/basf-ag"/>
		<add key="China Mobile" value="https://ru.investing.com/equities/china-mobile-limited-exch"/>
		<add key="Tesla Motors" value="https://ru.investing.com/equities/tesla-motors"/>
		<add key="Hewlett-Packard" value="https://ru.investing.com/equities/hewlett-packard-enterprise-co"/>
		<add key="PVH" value="https://ru.investing.com/equities/pvh"/>	
		<add key="Vale" value="https://ru.investing.com/equities/vale-s.a.--americ"/>
		<add key="The Coca-Cola" value="https://ru.investing.com/equities/coca-cola-co"/>
		<add key="Celgene" value="https://ru.investing.com/equities/celgene-corp"/>
		<add key="General Electrics" value="https://ru.investing.com/equities/general-electric"/>
		<add key="Pfizer" value="https://ru.investing.com/equities/pfizer"/>		
		<add key="AT and T" value="https://ru.investing.com/equities/at-t"/>
		<add key="The Travelers Companies" value="https://ru.investing.com/equities/the-travelers-co"/>
		<add key="Siemens AG" value="https://ru.investing.com/equities/siemens"/>
		<add key="Repsol SA" value="https://ru.investing.com/equities/repsol-sa"/>
		<add key="ENI SPA" value="https://ru.investing.com/equities/eni"/>
		<add key="Exxon Mobil" value="https://ru.investing.com/equities/exxon-mobil"/>
		<add key="Uber Technologies" value="https://ru.investing.com/equities/uber-technologies-inc"/>		
		<add key="Novatek" value="https://ru.investing.com/equities/novatek_rts"/>
		<add key="Michael Kors Holdings" value="https://ru.investing.com/equities/michael-kors-holdings"/>
		<add key="Mobile TeleSystems" value="https://ru.investing.com/equities/mts_rts"/>
		<add key="Daimler AG" value="https://ru.investing.com/equities/daimler"/>
		<add key="Sociedad Quimica y Minera de Chile" value="https://ru.investing.com/equities/soc-quimica-adr"/>	
		<add key="Volkswagen AG" value="https://ru.investing.com/equities/volkswagen-ag"/>
		<add key="VF" value="https://ru.investing.com/equities/vf-corp"/>
		<add key="Norilsk Nickel" value="https://ru.investing.com/equities/gmk-noril-nickel_rts"/>
		<add key="Yandex" value="https://ru.investing.com/equities/yandex"/>
		<add key="Home Depot" value="https://ru.investing.com/equities/home-depot"/>		
		<add key="Verizon Communications" value="https://ru.investing.com/equities/verizon-communications"/>
		<add key="Deutsche Bank AG" value="https://ru.investing.com/equities/dbk-co-ltd"/>
		<add key="Ford Motor" value="https://ru.investing.com/equities/ford-motor-co"/>
		<add key="Gazprom" value="https://ru.investing.com/equities/gazprom_rts"/>
		<add key="Bayerische Motoren Werke AG" value="https://ru.investing.com/equities/bay-mot-werke"/>
		<add key="Aeroflot" value="https://ru.investing.com/equities/aeroflot"/>		
		<add key="Goldman Sachs Group" value="https://ru.investing.com/equities/goldman-sachs-group"/>
		<add key="Wells Fargo and Co." value="https://ru.investing.com/equities/wells-fargo"/>
		<add key="Ethan Allen Interiors" value="https://ru.investing.com/equities/ethan-allen-interiors-inc"/>
		<add key="Lukoil" value="https://ru.investing.com/equities/lukoil_rts"/>
		<add key="Tiffany and Co" value="https://ru.investing.com/equities/tiffany---co"/>
		<add key="Williams-Sonoma" value="https://ru.investing.com/equities/williams-sonoma-inc"/>
		<add key="Tencent Holdings" value="https://ru.investing.com/equities/tencent-holdings-hk"/>
		<add key="Rosneft" value="https://ru.investing.com/equities/rosneft_rts"/>
		<add key="Industrial and Commercial Bank of China" value="https://ru.investing.com/equities/industrial-commercial-bank-of-china"/>
		<add key="BAYER AG" value="https://ru.investing.com/equities/bayer-ag"/>
		<add key="JPMorgan Chase and Co." value="https://ru.investing.com/equities/jp-morgan-chase"/>
		<add key="Bank of America" value="https://ru.investing.com/equities/bank-of-america"/>
		<add key="LYFT Inc." value="https://ru.investing.com/equities/lyft"/>
		<add key="Vanguard FTSE Europe ETF" value="https://ru.investing.com/etfs/vanguard-msci-eu"/>
		<add key="iShares MSCI United Kingdom ETF" value="https://ru.investing.com/etfs/ishares-msci-uk"/>
		<add key="SPDR S and P 500 ETF Trust" value="https://ru.investing.com/etfs/spdr-s-p-500"/>
		<add key="iShares MSCI Germany ETF" value="https://ru.investing.com/etfs/ishare-msci-germany"/>
		<add key="iShares China Large-Cap ETF" value="https://ru.investing.com/etfs/ishares-ftse-xinhua-china-25"/>
		<add key="iShares MSCI Brazil ETF" value="https://ru.investing.com/etfs/ishares-brazil-index"/>
		<add key="iShares Latin America 40 ETF" value="https://ru.investing.com/etfs/ishares-latin-america-40-index"/>
		<add key="iShares Core S and P Mid-Cap ETF" value="https://ru.investing.com/etfs/ishares-s-p-midcap-400-growth"/>
		<add key="iShares MSCI Mexico ETF" value="https://ru.investing.com/etfs/ishares-msci-mexico"/>
		<add key="iShares Core U.S. Aggregate Bond ETF" value="https://ru.investing.com/etfs/ishares-barclays-agg"/>
	</appSettings_Investing>

</configuration>
